<html>

<head>
    <meta charset="utf-8">
    <title>Restful Olympics app by GOJE</title>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>


<!-- header -->
<header id="site-header">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Restful App Olympics events</a>
            </div>

        </div>
    </div>
</header>

<!-- main -->
<main id="site-main">
    <div class="container">
        <%- body %>
    </div>
</main>

<br>
<br>
<!-- footer -->
<footer id="site-footer">
    Copyright &copy; 2016 Olympic App created by GOJE
</footer>

<body>


</body>
</html>